<div *ngIf="!authService.newPassRequired" class="login-container col-md-12">
    <div class="side-wallpaper-left">
    </div>
    <div class="login-box col-md-9">
        <div class="login-box-ribbon">  
        </div>
        <img (click)="goToHomePage()" style="cursor: pointer; width: 110px; margin-top: 10px; margin-left: 25px; " src="../../../assets/Senircraftlogo-removebg-preview.png"/>

        <div class="login-title">
            Register Senior Citizen Service
        </div>
        <!-- <form [formGroup]="contactForm"> -->
            <div class="row"  >
                <div  class="col-md-12 ml-4 d-flex"  style="margin-top: 60px;">
                    <div class="col-md-3">
                        <input class="simple-input" type="text"  placeholder="First Name" required />
                    </div>
                      
                    <div class="col-md-3">
                        <input class="simple-input" type="text"   placeholder="Last Name" matInput required />
                    </div>
                </div>
                <div  class="col-md-12 ml-4 d-flex"  style="margin-top: 60px;">
                    <div class="col-md-3">
                        <input class="simple-input" type="text" matInput required  placeholder="Phone Number"/>
                    </div>
                      
                    <div class="col-md-3">
                        <input class="simple-input" type="text" matInput required  placeholder="Address"/>
                    </div>
                </div>
                <div class="col-md-12"  style="margin-top: 20px;">
                    <mat-form-field class="input-field col-md-5" style="margin-left: 30px;">
                        <button class="upload-picture">Upload Profile Picture</button>
                    </mat-form-field>
                </div>
                <div class="col-md-12"  style="margin-top: 30px;margin-left: 30px;">
                    <input type="checkbox" checked data-toggle="toggle" data-size="sm" >
                    Citizen offers a service
                </div>
                <div class="col-md-12 d-flex"  style="margin-top: 30px;margin-left: 20px;">
                    <div class="col-md-4">
                        <input class="simple-input" type="text"  required placeholder="Title of Service"/>
                    </div>
                    <div class="col-md-2">
                        <select class="select-class" name="cars" id="cars">
                            <option  *ngFor="let freq of availList" [value]="freq.value">{{freq.value}}</option>
                          </select>
                    </div>
                    <div class="col-md-2">
                        <select  class="select-class" name="cars" id="cars">
                            <option  *ngFor="let freq of paidOption" [value]="freq.value">{{freq.value}}</option>
                          </select>
                    </div>
                    <div class="col-md-3">
                        <input class="simple-input" type="number"  required placeholder="Service price"/>
                    </div>
                </div>


                <div class="col-md-12"  style="margin-top: 30px;margin-left: 30px;">
                    <input type="checkbox" checked data-toggle="toggle" data-size="sm" >
                    Citizen wants to receive event suggestions
                </div>

                <div class="col-md-12"  style="margin-top: 30px;margin-left: 30px;">
                    <input class="large-input" style="height: 300px;" type="text"  required placeholder="Interested in..."/>
                </div>

                <div class="col-md-12 d-flex"  style="margin-top: 30px;margin-left: 20px;">
                    <div class="col-md-3">
                        <select class="select-class" name="cars" id="cars">
                            <option  *ngFor="let freq of freqList" [value]="freq.value">{{freq.value}}</option>
                          </select>
                    </div>

                </div>

            </div>
            <div class="div-button">
              <button mat-raised-button class="login-btn" type="submit" (click)="loginUser($event)">
                <div class="login-btn-txt">
                  Save
                </div></button>
            </div>
            <div style="height: 50px;">

            </div>
        <!-- </form> -->
       
    </div>
    <div class="side-wallpaper-right" style="float:right">

    </div>
</div>
<!-- <app-footer ></app-footer> -->