@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Corben&family=Dosis&family=Fjalla+One&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap');
@import "../../../styles.scss";
.header-div{
    z-index: 2;
    height: 130px;
    position: sticky;
    top: 0;
    width: 100%;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    .inline-element {
        display: inline-block;
        font-family: 'Bebas Neue', cursive;
        font-size: 2.5em;
    }

    .inline-element:hover{
        cursor: pointer;
    }

    .web-page-header{
        padding-top: 3rem;
        color: $dark-color;
       
    }

    .hamburger-inner span{
        color: white!important;
    }
}

.navbar-effect{
    transition: all 0.7s;
    background-color:rgb(30,143,143, 0.4);
}

.panel-container{
    background-color:rgb(30,143,143);
}

.menu-icon{
    font-size: 3rem;
    color: white;
    cursor: pointer;
}

.menu-list{
    list-style-type: none;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5em;
}

.menu-item-mobile{
    margin-bottom: 1.7rem;
    border-bottom: 1px solid rgb(14, 68, 68);
    margin-left: 0;
}

.menu-item-mobile:hover{
    transition: all 0.7s;
    background-color:rgb(14, 68, 68);
    cursor: pointer;
}
