<div class="d-flex">
    <div class="logo">
        LOGO
    </div>
    <div class="header">
        LOGOUT
    </div>
</div>


<div class="starting-button col-md-3">
    <div class="buttons-text" (click)="gotToDashboard()">
     Register an Elder
    </div>
</div>


<div  class="dashboard-container col-md-12 d-flex">
    <!-- <div class="catgeories-box col-md-2">
        
    </div> -->
    <div class="dashboard-box col-md-10 ">
        <div style="margin-bottom: 50px;" *ngFor="let citizen of citizensList" class="d-flex">
            <div class="service-box col-md-7">
                <div class="person-title">
                    {{citizen.name}}
                </div>
                <div class="person-description">
                    Description
                </div>
            </div>
            <div class="start-contact-box col-md-3">
                <div class="edit-button col-sm-5">
                    Edit Info
                </div>
            </div>
        </div>
        
    </div>
</div>

<div style="height: 150px;">

</div>
