<div class="footer">
    <div style="height: 3rem">

    </div>
    <div class="columns-block row">
        <div class="d-block col-sm-2 mb-4" >
            <div style="font-weight: bold; margin-bottom: 1rem;">
                Resources
            </div>
            <div class="column-element">Affiliate Sales Resources</div>
            <div class="column-element">Sales</div>
            <div class="column-element">Help Center</div>
            <div class="column-element">Community</div>

        </div>
        <div class="d-block col-sm-2 mb-4">
            <div style="font-weight: bold; margin-bottom: 1rem;">
                Resources
            </div>
            <div class="column-element">Affiliate Sales Resources</div>
            <div class="column-element">Sales</div>
            <div class="column-element">Help Center</div>
            <div class="column-element">Community</div>

        </div>
        <div class="d-block col-sm-2 mb-4">
            <div style="font-weight: bold; margin-bottom: 1rem;">
                Resources
            </div>
            <div class="column-element">Affiliate Sales Resources</div>
            <div class="column-element">Sales</div>
            <div class="column-element">Help Center</div>
            <div class="column-element">Community</div>

        </div>
        <div class="d-block col-sm-2 mb-4">
            <div style="font-weight: bold; margin-bottom: 1rem;">
                Resources
            </div>
            <div class="column-element">Affiliate Sales Resources</div>
            <div class="column-element">Sales</div>
            <div class="column-element">Help Center</div>
            <div class="column-element">Community</div>

        </div>
        <div class="d-block col-sm-2 mb-4">
            <div style="font-weight: bold; margin-bottom: 1rem;">
                Resources
            </div>
            <div class="column-element">Affiliate Sales Resources</div>
            <div class="column-element">Sales</div>
            <div class="column-element">Help Center</div>
            <div class="column-element">Community</div>
        </div>
    </div>
    <div class="row" style="border-bottom: 1px solid rgb(49, 47, 47); height: 3rem; margin-bottom: 2rem;
                            margin-left: 5%; margin-right: 5%;">

    </div>
    <div style="height: 2rem">

    </div>
    

</div>