<div class="background">


<div class="d-flex">
    <div class="logo">
        <div class="inline-element " style="cursor: pointer;" (click)="goToHomePage()">
            <img style="width: 110px; " src="../../../assets/Senircraftlogo-removebg-preview.png"/>
        </div>
    </div>
    <div class="header">
        LOGOUT
    </div>
</div>
<div  style="width: 200px; margin-left:auto; margin-right: auto;">
    <mat-form-field style="width:300px; ">
        <input type="text" matInput placeholder="Search for events"
        style="width: 260px; color: white">
        <span class="material-icons">
            search
            </span>
    </mat-form-field>   
</div>
<div  class="dashboard-container col-md-12 d-flex">
    <div class="dashboard-box col-md-10 ">
        <div style="margin-bottom: 50px;" *ngFor="let event of eventsList" class="d-flex">
            <div class="service-box col-md-8 d-flex" >
                <div style="display: block; cursor: pointer;" (click)=goToEvent()>
                    <div class="event-title">
                        {{event.name}}
                    </div>
                    <div class="event-description">
                        {{event.description}}
                    </div>
                    <div class="event-description">
                        {{event.time}}
                    </div>                    
                </div>
                <div>
                    <img class="image-object" src={{event.photo}}>
                </div>
            </div>
            <!-- <div class="start-contact-box col-md-3">
                <div class="edit-button col-sm-5">
                    Edit Info
                </div>
            </div> -->
        </div>
        
    </div>
</div>

<div style="height: 150px;">

</div>
</div>
