<div class="home-page home-page-mobile col-sm-12"  (scroll)="onWindowScroll($event)">
    <app-header></app-header>

    <div class="motto-div motto-div-mobile col-sm-5">
        <div class="motto-text">
         Welcome!
        </div>
        
    </div>
    <div>
        <div class="starting-button col-sm-3">
            <div class="buttons-text">
             Hire an Elder
            </div>
        </div>
        <div class="starting-button col-sm-3">
            <div class="buttons-text">
             Look for Events
            </div>
        </div>
    </div>

    
    
    <app-footer></app-footer>

</div>
